* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif; }

.container {
  display: flex;
  align-items: center;
  flex-direction: column; }

.price {
  margin-top: 3rem;
  width: 30rem; }
  .price__form {
    display: flex;
    flex-direction: column; }
  .price__title {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 1rem;
    font-size: 1.5rem; }
  .price--old {
    background-color: #8CB360;
    height: 10rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .price--new {
    background-color: #EC4653;
    height: 10rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .price__input {
    align-self: center;
    height: 3rem;
    width: 80%;
    justify-self: center;
    margin-bottom: 1rem; }
  .price__label {
    justify-self: center;
    align-self: end;
    font-size: 1.5rem; }

.password {
  height: 3rem;
  width: 80%;
  margin: 2rem auto;
  background-color: gainsboro;
  border: none;
  text-decoration: none;
  border-radius: .3rem; }

.update {
  background-color: #E32E34;
  width: 10rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  border: none; }
  .update:focus {
    outline: none; }
  .update:active {
    transform: translateY(2px); }
  .update:hover {
    background-color: #EC4653; }
